In [64]:
import pandas as pd

In [65]:
dataset = pd.read_csv('apartmentsdata.csv')

In [66]:
dataset.head()

,area,city,floor,location,price,rooms,source,square_price,title,Unnamed: 9,Unnamed: 10
0,76,Beograd,3,"Opština Vračar , Hram svetog Save , Svetog Save",290000,2.0,halooglasi,3816,"Plato Hrama Svetog Save, Vračar, 76m2",NaN,NaN
1,41,Vrnjačka Banja,2,"Gradska lokacija , Raj , Kosovska br.1",82000,2.0,halooglasi,2000,Lux stan Akva Park Raj,NaN,NaN
2,37,Sokobanja,1,"Gradska lokacija , Banjica , Profesora Dragol...",60605,2.0,halooglasi,1650,Direktna prodaja stana u Sokobanji,NaN,NaN
3,34,Sokobanja,3,"Gradska lokacija , Banjica , Profesora Dragol...",59488,1.5,halooglasi,1760,Direktna prodaja stana Sokobanja,NaN,NaN
4,55,Beograd,2,"Opština Zemun , Altina , Ugrinovački put 8. deo",104500,2.0,halooglasi,1900,"Zemun, Altina, 2.0",NaN,NaN

In [67]:
for i,loc in enumerate(dataset['location']):
    print(loc)
    if i==5:
        break

 Opština Vračar , Hram svetog Save , Svetog Save
 Gradska lokacija , Raj , Kosovska br.1
 Gradska lokacija , Banjica , Profesora Dragoljuba Jovanovića
 Gradska lokacija , Banjica , Profesora Dragoljuba Jovanovića
 Opština Zemun , Altina , Ugrinovački put 8. deo
 Okolno mesto , Brzeće , Mramorska88

In [68]:
location_split = dataset['location'].str.split(',', expand=True)

In [69]:
dataset['opstina'] = location_split[0].str.strip() 
dataset['naselje'] = location_split[1].str.strip()
dataset['ulica'] = location_split[2].str.strip()

dataset[['location', 'opstina', 'naselje', 'ulica']].head()

,location,opstina,naselje,ulica
0,"Opština Vračar , Hram svetog Save , Svetog Save",Opština Vračar,Hram svetog Save,Svetog Save
1,"Gradska lokacija , Raj , Kosovska br.1",Gradska lokacija,Raj,Kosovska br.1
2,"Gradska lokacija , Banjica , Profesora Dragol...",Gradska lokacija,Banjica,Profesora Dragoljuba Jovanovića
3,"Gradska lokacija , Banjica , Profesora Dragol...",Gradska lokacija,Banjica,Profesora Dragoljuba Jovanovića
4,"Opština Zemun , Altina , Ugrinovački put 8. deo",Opština Zemun,Altina,Ugrinovački put 8. deo

In [70]:
dataset.drop(['Unnamed: 9', 'Unnamed: 10'], axis=1, inplace=True)

In [71]:
dataset.rename(columns={
    'opstina': 'municipality',
    'naselje': 'neighborhood',
    'ulica': 'street'
}, inplace=True)

In [72]:
dataset.head()

,area,city,floor,location,price,rooms,source,square_price,title,municipality,neighborhood,street
0,76,Beograd,3,"Opština Vračar , Hram svetog Save , Svetog Save",290000,2.0,halooglasi,3816,"Plato Hrama Svetog Save, Vračar, 76m2",Opština Vračar,Hram svetog Save,Svetog Save
1,41,Vrnjačka Banja,2,"Gradska lokacija , Raj , Kosovska br.1",82000,2.0,halooglasi,2000,Lux stan Akva Park Raj,Gradska lokacija,Raj,Kosovska br.1
2,37,Sokobanja,1,"Gradska lokacija , Banjica , Profesora Dragol...",60605,2.0,halooglasi,1650,Direktna prodaja stana u Sokobanji,Gradska lokacija,Banjica,Profesora Dragoljuba Jovanovića
3,34,Sokobanja,3,"Gradska lokacija , Banjica , Profesora Dragol...",59488,1.5,halooglasi,1760,Direktna prodaja stana Sokobanja,Gradska lokacija,Banjica,Profesora Dragoljuba Jovanovića
4,55,Beograd,2,"Opština Zemun , Altina , Ugrinovački put 8. deo",104500,2.0,halooglasi,1900,"Zemun, Altina, 2.0",Opština Zemun,Altina,Ugrinovački put 8. deo

In [73]:
dataset.drop('location', axis=1, inplace=True)

In [74]:
# we don't need title and source, so we can drop them
dataset.drop(['title', 'source'], axis=1, inplace=True)

In [75]:
dataset.head()

,area,city,floor,price,rooms,square_price,municipality,neighborhood,street
0,76,Beograd,3,290000,2.0,3816,Opština Vračar,Hram svetog Save,Svetog Save
1,41,Vrnjačka Banja,2,82000,2.0,2000,Gradska lokacija,Raj,Kosovska br.1
2,37,Sokobanja,1,60605,2.0,1650,Gradska lokacija,Banjica,Profesora Dragoljuba Jovanovića
3,34,Sokobanja,3,59488,1.5,1760,Gradska lokacija,Banjica,Profesora Dragoljuba Jovanovića
4,55,Beograd,2,104500,2.0,1900,Opština Zemun,Altina,Ugrinovački put 8. deo

In [76]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11704 entries, 0 to 11703
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          11704 non-null  int64
 1   city          11704 non-null  object
 2   floor         11586 non-null  object
 3   price         11704 non-null  int64
 4   rooms         11704 non-null  float64
 5   square_price  11704 non-null  int64
 6   municipality  11704 non-null  object
 7   neighborhood  11265 non-null  object
 8   street        8967 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 823.1+ KB

In [77]:
for col in dataset.columns:
    if dataset[col].isna().any():
        print(col)

floor
neighborhood
street

In [78]:
# NaN values in column neighborhood can be replaced with values in municipality
dataset['neighborhood'] = dataset['municipality'].fillna(dataset['municipality'])

In [79]:
dataset['floor'].unique()

array(['3', '2', '1', '4', '0', '9', '6', '5', '0.5', '11', 'p', '7',
       '15', '-0.5', '8', '16', '10', '17', '25', '18', '12', '14', '23',
       '29', '27', '13', '19', '26', '20', '24', '22', nan], dtype=object)

In [80]:
dataset['floor'] = dataset['floor'].replace('p', 0)
dataset['floor'] = dataset['floor'].astype(float).abs()

In [81]:
for i, (city, group) in enumerate(dataset.groupby('neighborhood')['floor']):
    if i==3:
        break
    print("=" * 40)
    print(f"Grad: {city} ({len(group)} redova)")
    print("=" * 40)
    print(group.to_string(index=False))

========================================
Grad: 25. Maj (1 redova)
========================================
5.0
========================================
Grad: 4. Juli (3 redova)
========================================
4.0
1.0
3.0
========================================
Grad: A Blok - Blok 67a (1 redova)
========================================
2.0

In [82]:
dataset['neighborhood'].isna().any()

np.False_

In [83]:
city_median_floor = dataset.groupby('city')['floor'].transform('median')

def fill_floor(x):
    if x.notna().any():
        return x.fillna(x.median())
    else:
        return x.fillna(city_median_floor[x.index])

dataset['floor'] = dataset.groupby('neighborhood')['floor'].transform(fill_floor)

In [84]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11704 entries, 0 to 11703
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          11704 non-null  int64
 1   city          11704 non-null  object
 2   floor         11704 non-null  float64
 3   price         11704 non-null  int64
 4   rooms         11704 non-null  float64
 5   square_price  11704 non-null  int64
 6   municipality  11704 non-null  object
 7   neighborhood  11704 non-null  object
 8   street        8967 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 823.1+ KB

In [86]:
dataset.drop('street', axis=1, inplace=True)

In [87]:
dataset.head()

,area,city,floor,price,rooms,square_price,municipality,neighborhood
0,76,Beograd,3.0,290000,2.0,3816,Opština Vračar,Opština Vračar
1,41,Vrnjačka Banja,2.0,82000,2.0,2000,Gradska lokacija,Gradska lokacija
2,37,Sokobanja,1.0,60605,2.0,1650,Gradska lokacija,Gradska lokacija
3,34,Sokobanja,3.0,59488,1.5,1760,Gradska lokacija,Gradska lokacija
4,55,Beograd,2.0,104500,2.0,1900,Opština Zemun,Opština Zemun